.mainContainer {
  font-family: sans-serif;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  width: 360px;
}
.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}
.todo > .container {
  width: 85%;
  display: flex;
}
.label {
  width: 100%;
  word-break: break-all;
  position: relative;
  top: 1px;
}
.todo > .hoverEl {
  display: none;
}
.todo:hover > .hoverEl {
  display: block;
  position: absolute;
  right: 0;
  top: 2px;
}

.disabledCheckbox {
  color: grey;
  text-decoration: line-through;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #1fbed6;
  background-color: white;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="checkbox"]:checked {
  background-color: rgb(202, 199, 199);
  border-color: darkgrey;
}

input[type="text"] {
  appearance: none;
  border: none;
  font-size: 16px;
}
input[type="text"]:focus-visible {
  appearance: none;
  border: none;
  outline: none;
}
.notes {
  color: grey;
  font-size: 12px;
}

@media only screen and (max-width: 480px) {
  .mainContainer {
    width: 90%;
    box-sizing: border-box;
  }
}
